.main {
    padding: 8rem;
    margin-bottom: 8rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.featured {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.687rem;
    text-transform: capitalize;
}

.see-more {
    font-size: 1.8rem;
    font-weight: 400;
    color: #BE123C;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
}

.see-more:hover {
    text-decoration: underline;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 12rem;
    grid-column-gap: 8rem;
}